extends index.pug

block main
    div
        p Are You sure You want to leave?
        button.button1(onclick="window.location.href='/logout1'") Yes, log me out!
        button.button1(onclick="window.location.href='/main'") No, go back!